extends layout

block content
  header
    h1= currentDir
  hr
  
  #notification

  #nav

    #nav-back

    if prevDir
      #nav-back-extra
        a(href='#{prevDir}') Back

    //ul#nav-dirs
    //ul#nav-files

    a#create-dir(href='#') New Section

    ul#nav-dirs
      if dirs
        for dir in dirs
          li
            a(href='#{currentDir}#{dir}/') #{dir}

    ul#nav-files
      if files
        for file in files
          li
            a(href='#{currentDir}#{file}') #{file}

    a#create-file(href='#') New Document

  if doc
    hr

    a#edit-file(href='#') Edit
    #doc(data-file-name='#{docFileName}') !{doc}

    hr

    if accessTime
      #doc-footer Last Modified: #{accessTime}
      hr


