extends layout

block content
  header
    h1= currentDir
  hr
  
  #nav
    #nav-back

    if prevDir
      #nav-back-extra
        a(href='#{prevDir}') Back

    ul#nav-dirs
    ul#nav-files

    ul#nav-dirs-extra
      if dirs
        for dir in dirs
          li
            b
              a(href='#{currentDir}#{dir}/') #{dir}

    ul#nav-files-extra
      if files
        for file in files
          li
            a(href='#{currentDir}#{file}') #{file}

  hr
  
  #doc

  if doc
    #doc-extra!= doc
    hr

  #doc-footer
